<%= form_with model: citizen, class: 'p-4 md:p-5',
                              data: { action: 'turbo:submit-end->components--drawer-component#hideOnSuccess' } do |form| %>

  <h5 class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400"> General Information </h5>

  <div id="flash">
    <%= render_flash_messages %>
  </div>

  <div class="grid gap-4 mb-4 grid-cols-2">
    <%= render partial: 'general_info_fields', locals: { form: form } %>
  </div>

  <h5 class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400"> Address Information </h5>

  <div class="grid gap-4 mb-4 grid-cols-2">
    <%= render partial: 'address_fields', locals: { form: form } %>
  </div>


 <div class="bottom-0 left-0 flex justify-center w-full pb-4 space-x-4 md:px-4 md:absolute">
    <%= form.submit class: 'btn-primary' %>
  </div>
<% end %>

