<div class="col-span-2 sm:col-span-1">
  <%= form.label :first_name, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%= form.text_field :first_name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
</div>

<div class="col-span-2 sm:col-span-1">
  <%= form.label :last_name, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%= form.text_field :last_name, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
</div>

<div class="col-span-2 sm:col-span-1">
  <%= form.label :cpf, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%= form.text_field :cpf, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
</div>

<div class="col-span-2 sm:col-span-1">
  <%= form.label :national_health_card, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%= form.text_field :national_health_card, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
</div>

<div class="col-span-2 sm:col-span-1">
  <%= form.label :email, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%= form.email_field :email, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
</div>

<div class="col-span-2 sm:col-span-1">
  <%= form.label :birth_date, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%= form.date_field :birth_date, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
</div>

<div class="col-span-2 sm:col-span-1">
  <%= form.label :phone_number, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%= form.telephone_field :phone_number, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
</div>

<div class="col-span-2 sm:col-span-1">
  <%= form.label :status, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
  <%= form.select :status, Citizen.statuses.keys, {}, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
</div>