<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Name</th>
      <th scope="col" class="px-6 py-3">CPF</th>
      <th scope="col" class="px-6 py-3">Date of Birth</th>
      <th scope="col" class="px-6 py-3">Health Card</th>
      <th scope="col" class="px-6 py-3">Phone</th>
      <th scope="col" class="px-6 py-3">Address</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
    <% citizens.each do |citizen| %>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= citizen.full_name %>
        </th>
        <td class="px-6 py-4"><%= citizen.cpf %></td>
        <td class="px-6 py-4"><%= citizen.birth_date %></td>
        <td class="px-6 py-4"><%= citizen.national_health_card %></td>
        <td class="px-6 py-4"><%= citizen.phone_number %></td>
        <td class="px-6 py-4"><%= render 'address_info', address: citizen.address %></td>
        <td>
          <%= button_to citizen_path(citizen), method: :get, class: 'btn-primary', data: { turbo_frame: "drawer" } do %>
            <i class="bi bi-eyeglasses"></i>
            Show
          <% end %>
        </td>

        <td>
          <%= button_to edit_citizen_path(citizen), method: :get, class: 'btn-primary', data: { turbo_frame: "drawer" } do %>
            <i class="bi bi-pencil-square"></i>
            Edit
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>