<%= form.fields_for :address do |address_fields| %>

  <div class="col-span-2 sm:col-span-1">
    <%= address_fields.label :zip_code, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= address_fields.text_field :zip_code, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
  </div>

  <div class="col-span-2 sm:col-span-1">
    <%= address_fields.label :street, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= address_fields.text_field :street, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
  </div>

  <div class="col-span-2 sm:col-span-1">
    <%= address_fields.label :ibge_code, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= address_fields.text_field :ibge_code, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500' %>
  </div>

  <div class="col-span-2 sm:col-span-1">
    <%= address_fields.label :neighborhood, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= address_fields.text_field :neighborhood, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
  </div>

  <div class="col-span-2 sm:col-span-1">
    <%= address_fields.label :city, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= address_fields.text_field :city, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
  </div>

  <div class="col-span-2 sm:col-span-1">
    <%= address_fields.label :state, class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
    <%= address_fields.text_field :state, class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500', required: true %>
  </div>
<% end %>