<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="px-6 py-3">Name</th>
      <th scope="col" class="px-6 py-3">CPF</th>
      <th scope="col" class="px-6 py-3">Date of Birth</th>
      <th scope="col" class="px-6 py-3">Health Card</th>
      <th scope="col" class="px-6 py-3">Phone</th>
      <th scope="col" class="px-6 py-3">Address</th>
      <th scope="col" class="px-6 py-3">Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
    <% municipes.each do |municipe| %>
      <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
        <td scope="row" class="flex items-center p-4 mr-12 space-x-6 whitespace-nowrap">
          <%= display_municipe_photo(municipe, 'w-10 h-10 rounded-full' ) %>
            <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
              <div class="text-base font-semibold text-gray-900 dark:text-white"><%= municipe.full_name %></div>
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400"><%= municipe.email %></div>
            </div>
        </td>
        <td class="px-6 py-4"><%= municipe.cpf %></td>
        <td class="px-6 py-4"><%= municipe.birth_date %></td>
        <td class="px-6 py-4"><%= municipe.national_health_card %></td>
        <td class="px-6 py-4"><%= municipe.phone_number %></td>
        <td class="px-6 py-4"><%= render 'address_info', address: municipe.address %></td>
        <td class="px-6 py-4">
          <div class="flex items-center">
            <div class="h-2.5 w-2.5 rounded-full <%= municipe.active? ? 'bg-green-400' : 'bg-red-400' %> mr-2"></div>
            <%= municipe.status %>
          </div>
        </td>
        <td>
          <%= button_to municipe_path(municipe), method: :get, class: 'btn-primary', data: { turbo_frame: "drawer" } do %>
            <i class="bi bi-eyeglasses"></i>
            Show
          <% end %>
        </td>

        <td>
          <%= button_to edit_municipe_path(municipe), method: :get, class: 'btn-primary', data: { turbo_frame: "drawer" } do %>
            <i class="bi bi-pencil-square"></i>
            Edit
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
